//- Text submission to query database for card name
//- Text submission to number for number in deck.
//- Text box with MtGA export style decklist, previous submissions add text to this box.
//- Ultimate submit button to save deck to database (users database?)

extends template

block content
    .