//- Text submission to query database for card name
//- Text submission to number for number in deck.
//- Text box with MtGA export style decklist, previous submissions add text to this box.
//- Ultimate submit button to save deck to database (users database?)

extends template

block head
    script(src='/assets/js/builder.js' defer)

block content
    #builderWrapper
        #metaDataWrapper
            #titleWrapper
                label(for='title') Title:
                input.metadata#deckTitle(type='text' placeholder='Deck Title' name='title')
            //- #descriptionWrapper    
            //-     label(for='description') Description:
            //-     textarea.metadata#deckDescription(type='text' placeholder='Description of the Deck!' name='description')
        form#deckInput(method='POST')
            #mainboardWrapper
                button.toggleOn#mainboardToggle(type= 'button') Mainboard
                button#sideboardToggle(type= 'button') Sideboard
                textarea.deckPanel#mainboard(name='mainboard')
                textarea.deckPanel.toggleOff#sideboard(name='sideboard')
            #cardInputWrapper
                #cardnameWrapper
                    label(for='cardname') Card Name:
                    input#cardnameInput(type='text' placeholder='Card Name' name='cardname' onfocus='this.value=""')
                    p.hidden Please input a valid Card Name!
                #cardQuantityWrapper
                    label(for='quantity') Quantity:
                    input#quantityInput(type='text' placeholder='Quantity' name='quantity' onfocus='this.value=""')
                    p.hidden Please input a number!
                button#addCard(type='button') Add Card
        #metaButtonWrapper
            button#updatePreview(type='button') Update Preview
            button#submit(type='button') Save
        #previewWrapper
            #previewErrorWrapper.toggleOff Decklist is invalid for the following reasons:
                label(for='previewName') Invalid Card Names:
                ul#previewName.toggleOff(name='previewName')
                label(for='previewQuant')  Invalid Card Numbers:
                ul#previewQuant.toggleOff(name='previewQuant')
            p#previewTitle Placeholder Title
                ul#previewDecklist
                    ul#creatures.cardtype Creatures
                    ul#spells.cardtype Instants &amp; Sorceries
                    ul#artifacts.cardtype Artifacts
                    ul#enchantments.cardtype Enchantments
                    ul#planeswalkers.cardtype Planeswalkers
                    ul#land.cardtype Land
                    ul#previewSideboard.cardtype Sideboard


