//- Text submission to query database for card name
//- Text submission to number for number in deck.
//- Text box with MtGA export style decklist, previous submissions add text to this box.
//- Ultimate submit button to save deck to database (users database?)

extends template

block head
    script(src='/assets/js/builder.js' defer)

block content
    #builderWrapper
        form#deckInput(method='POST')
            label(for='title') Title:
            input.metadata#deckTitle(type='text' placeholder='Deck Title' name='title')
            label(for='description') Description:
            input.metadata#deckDescription(type='text' placeholder='Description of the Deck!' name='description')
            textarea.deckPanel#mainboard(name='mainboard')
            textarea.deckPanel#sideboard(name='sideboard')
            .cardnameWrapper
                label(for='cardname') Card Name:
                input#cardnameInput(type='text' placeholder='Card Name' name='cardname')
                p.hidden Please input a valid Card Name!
            .cardQuantityWrapper
                label(for='quantity') Quantity:
                input#quantityInput(type='text' placeholder='Quantity' name='quantity')
                p.hidden Please input a number!
            button#addCard(type='button') Add Card
            button#submit(type='button')