doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="assets/css/styles.css")
        block head
    body
        #headerWrapper
            h1.title Magic the Gathering Tracker
            block mainbar
                #linksWrapper
                    a.topLinks(href='builder') Deckbuilder
                    a.topLinks(href='tracker') Tracker
        #sidebarWrapper
            h2#decksHeader Decks
                ul#listOfDecks
                    //- buttons
            button(type='button') Reload
        block content
        block foot
            #footerWrapper
                a.footerLinks(href='contact') Contact &nbsp;
                a.footerLinks(href='about') About Us
