doctype html
html
    head
        block head
            
    body
        h1.title Magic the Gathering Tracker
        block mainbar
            a.topLinks(href='builder.pug') Deckbuilder
            a.topLinks(href='tracker.pug') Tracker
        block content
        block foot
            .footer
                a.footerLinks(href='contact.pug') Contact
                a.footerLinks(href='about.pug') About Us
