extends template
include mixins

block head
    script(src='/assets/js/tracker.js' defer)

block content
    #trackerWrapper
        .decks
            ul.decksList
                //- each deck in userDecks
                //-     li=deck
        .exile
            ol.cards#exileCards Exile
            
            +zoneChange('graveyard', 'Graveyard')
            +zoneChange('deck', 'Library')
            +zoneChange('playspace', 'Hand')
        .library
            ol.cards#libraryCards Library
            +zoneChange('exile', 'Exile')
            +zoneChange('graveyard', 'Graveyard')
            +zoneChange('playspace', 'Hand')
        .graveyard
            ol.cards#graveyardCards Graveyard
            +zoneChange('exile', 'Exile')
            +zoneChange('deck', 'Library')
            +zoneChange('playspace', 'Hand')
        .playspace
            ol.cards#playspaceCards Playspace
            +zoneChange('exile', 'Exile')
            +zoneChange('graveyard', 'Graveyard')
            +zoneChange('deck', 'Library')
            p.defaultPrompt Please select a deck to get started!
        .zoneSelector
            button.zoneLeft(type='button') Exile
            button.zoneMiddle(type='button') Library
            button.zoneRight(type='button') Graveyard
        .reshuffle
            button.shuffler(type='button') Reshuffle Graveyard
