extends template

block content
    .decks
        ul.decksList
    .exile
        ol.cards
    .deck
        ol.cards
    .graveyard
        ol.cards
    .playspace
        ol.cards
        p.defaultPrompt Please select a deck to get started!
    .zoneSelector
        button.zones